# Flake8 dependencies
flake8==6.0.0
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1

# Pytest dependencies
attrs==22.2.0
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.2.1
toml==0.10.2

# pytest-cov section
coverage==7.1.0
pytest-cov==4.0.0

-r requirements.txt
